/* Content List */
.carousel{
	/*width: 100%;*/
	width: 1900px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	/*padding-top:100px;*/
	background-color:red;
}

.container-list {
	width: 100%;
	/*height: 1835px;*/
	margin-top: 82px;

	position: relative;
	left: 0px;
}

.container {
	width: 100%;
	/*height: 1835px;*/

	display: inline-block;
	float: right;
}

.container .content-list {
	width: 1850px;
}

.container1 {
	display:none;
}

/* END Content List */