.related-container{
	width:100%;
	/*height:350px;*/
	height: 0;
	display:block;
	background-color:#e02826;
	box-shadow: 0px 0px 7px rgba(9, 9, 9, 0.1) , 0px 0px 7px rgba(9, 9, 9, 0.1);
	/*background-image: url('../assets/fractal-background.png');*/
	position:absolute;
	bottom:0;	
	
	-webkit-transition: height 0.3s ease-out;
	-moz-transition: height 0.3s ease-out;
	transition: height 0.3s ease-out;

	/*border-top:dotted 5px;
	border-color:#e02826;*/
}

.related-container.show {
	height: 450px;
}

.related-object{
	width:1080px;
	height:350px;
	background-color:;
	margin:0 auto;
}

#relatedTitle {
	font-family:helvetica;
	font-weight:600;
	font-size:30px !important;
	color:#e02826;
	background-color:white;
	width:300px;
	margin:0 auto;
	margin-top:25px;
}

#relatedTitle2 {
	font-family:helvetica;
	font-weight:600;
	font-size:30px !important;
	color:#e02826;
	background-color:white;
	width:500px;
	margin:0 auto;
	margin-top:25px;
	
}

.related-object div{
	float:left;
	width:192px;
	background-color:;
	margin:0 auto;
	text-align:center;
	margin-top:25px;
	margin-left:128px;
}

.related-object img{
	width:192px;
	height:162px;
	border:4px white solid;
}

.related-object h2{
	font-family:helvetica;
	font-weight:900;
	font-size:20px !important;
	color:white;
	background-color:#e02826;
}